.heading
{
  background-color: white;
  width: 100%;
  height: 50px;
}
.firstbox
{
  background-color: lightpink;
  width: 100%;
  height: 600px;
  border: 2px solid black;
}
.imgAd
{
  float:left;
}
.imgAdj
{
  float: right;
}
.p
{
  padding-right: 2px;
}

table
{
  border: 2px solid black;
}
